{{ define "main" }}

<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<!-- hero area -->
<section class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-end">
        <h1 class="mb-0">Welcome</h1>
        <h2 class="mb-100 title-border-lg">to <i>{{site.Params.author}}</i></h2>
        <p class="mb-80 mr-5">{{site.Params.bio | markdownify }}</p>
        <span class="font-secondary text-dark mr-3 mr-sm-5">Follow us :</span>
        <ul class="list-inline d-inline-block mb-5">
          {{ range site.Params.social }}
          <li class="list-inline-item mx-3"><a href="{{.URL}}" class="text-dark"><i class="{{.icon}}"></i></a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-lg-6 text-right">
        <img class="img-fluid" src="{{site.Params.author_image | absURL}}" alt="banner-image">
      </div>
    </div>
  </div>
</section>
<!-- /hero area -->

<!-- blog post -->
<section class="section">
  <div class="container">
    <div class="row">
      {{ range $i,$p := (where site.RegularPages "Type" "post") }}
      <div class="col-12 mb-100">
        <article data-file="{{.Permalink}}" data-target="article"
          class="article-full-width {{if not (modBool $i 2)}} article-right {{ end }}">
          <div class="post-image">
            <img class="img-fluid" src="{{ .Params.Image | absURL }}" alt="post-thumb">
          </div>
          <div class="post-content">
            <ul class="list-inline d-flex justify-content-between border-bottom post-meta pb-2 mb-4">
              <li class="list-inline-item"><i class="ti-calendar mr-2"></i>{{ .PublishDate.Format "Jan 02, 2006" }}</li>
              <li class="list-inline-item"><i class="ti-alarm-clock mr-2"></i><span class="eta"></span> read</li>
            </ul>
            <h4 class="mb-4"><a href="{{.Permalink}}" class="text-dark">{{ .Title }}</a></h4>
            <p class="mb-0 post-summary">{{.Summary }}</p>
            <a class="btn btn-transparent mb-4" href="{{.Permalink}}">Continue...</a>
          </div>
        </article>
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
</section>

{{partial "instafeed.html" . }}

{{ end }}
